<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js">


    </script>
 <script>



     var  app = angular.module('myapp',[]);

     app.controller("mycontroller",function ($scope) {
         $scope.add=function () {
            $scope.z=parseInt($scope.x)+parseInt($scope.y)   ;
         }
     });
 </script>
    <title>控制器</title>


</head>
<body ng-app="myapp" ng-controller="mycontroller">
x: <input ng-model="x">
y: <input ng-model="y">
  <button ng-click = "add()">运算</button>
结果是 : {{z}}


</body>
</html>